/* CSS Document */
body {
    font: 12px arial;
    color: #222;
    text-align: center;
    padding: 35px;
}

p, span {
    margin: 0;
    padding: 0;
}

input {
    font: 12px arial;
}

a {
    color: #0000FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#wrapper {
    margin: 0 auto;
    padding-bottom: 25px;
    background: #EBF4FB;
    width: 504px;
    border: 1px solid #ACD8F0;
}

#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    height: 270px;
    width: 430px;
    border: 1px solid #ACD8F0;
    overflow: auto;
}

#chatbox span.user {
    font-weight: bold;
    color: darkslateblue;
    padding-right: 2pt;
}

#usermsg {
    width: 395px;
    border: 1px solid #ACD8F0;
}

#submit {
    width: 60px;
}

.error {
    color: #ff0000;
}

#menu {
    padding: 12.5px 25px 12.5px 25px;
}

.msgln {
    margin: 0 0 2px 0;
}
